!!!
%html
  %head
    %link{href:"css/style.css", rel:"stylesheet"}
    %title The page you were looking for doesn't exist (404)

  %body

    .dialog
      %h1 Oops
      %h2 The page you were looking for doesn't exist.
      %p
        You may have mistyped the address or the page may have moved. Please let us know if you need help:
        %a{href: "mailto:errors@docasap.com"} errors@docasap.com

      %footer &copy; DocASAP Inc