!!!
%html
  %head
    %link{href:"css/style.css", rel:"stylesheet"}
    %title Something went wrong (500)

  %body

    .dialog
      %h1 Wonk
      %h2 We're sorry &dash; something went wrong...
      %p
        Please forgive us and try again. Let us know if this keeps happening:
        %a{href: "mailto:errors@docasap.com"} errors@docasap.com

      %footer &copy; DocASAP Inc