!!!
%html
  %head
    %meta{ name:"viewport", content: "initial-scale = 1.0, minimum-scale = 1.0, maximum-scale = 1.0" }
    %link{href:"css/style.css", rel:"stylesheet"}
    %title Maintenance

  %body

    .dialog
      %h1 Paused
      %h2 Sorry, we've just hit the pause button here as we update a few things...
      %p We'll be back up momentarily and then you can try again.